﻿@model Microsoft.Models.Artist
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "General", FormMethod.Post, new { }))
{
    //html.validation summary
    @Html.AntiForgeryToken();
    <h2 class="form-title text-center text-uppercase text-white-50">Create Account</h2> 
    <div class="form-group">
        @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control", @id = "", @placeholder = "Enter Artist Name" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" id="submit" aria-describedby="submit" value="Submit" />
    </div>

}