﻿@model IEnumerable<Microsoft.Models.Artist>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@{ 
    foreach (var item in Model)
    {
        <p>@item.Name</p>
        <p>@item.Albums</p>
    }
}

