﻿@model IEnumerable<Microsoft.Models.Album>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>
@{ 
    foreach (var item in Model)
    {
        <p>@item.Title</p>
    }
}

